html{
    font-family: 'Lato', sans-serif;
    
}
img{
    width: 100%;
}
a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}
p{
    font-size: 1.6rem;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

.center-contein{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width :880px) {
    .center-contein{
        flex-direction:row;    
        justify-content: space-between;
    }
    
}
/*Menu Burger icon*/
.linea-1, .linea-2, .linea-3{
    width: 2.9rem;
    height: .8rem;
    background: white;
    margin: .3rem 0;

}


/* Header */

.header-style{
    background-color: black;
    color: white;
    height: 20rem;
    margin-bottom: 2rem;
}
.menu-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-menu {
    background: #f5f5f5;
    width: 100%;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    margin-top: 2rem;
}
@media (min-width : 880px) {
    .menu-bar{
        flex-direction: row;
    }
    .menu-burger{
        display: none;
    }  
    .side-menu {
        width: 100%;
        height: 100%;
        clip-path: circle(100% at center);    
    }
    .side-menu ul{
        display: flex;
        flex-direction: row;
    }
    .side-menu li{
        margin-right: 2rem;
    }
    .side-menu li:last-of-type{
        margin-right: 0;
    }
    
}
.nav-input:checked + .side-menu{
    clip-path: circle(100% at center);
}
.nav-input{
    display: none;
}
.side-menu ul{
    margin-right: 3rem;
}

.side-menu li {
    list-style: none;
    text-align: center;
    padding: .5rem 0;    
}
.elemento{
    color: black;
}


@media (min-width : 880px) {
        
    .side-menu{
        background: none;
        display: flex;
        margin-right: 4rem;
        margin-top: 2rem;
    }
    .elemento {
        color: #f5f5f5;
        margin-right: 4rem;
        
    }
    .elemento:last-of-type{
        margin-right: 0;
    }
    .elemento{
        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    .elemento::after{
        content: '';
        height: 3px;
        display: block;
        background:#f5f5f5;
        width: 90%;
        margin-top: 1rem;
        clip-path: var(--clippy);
        transition: clip-path .5s;


    }
    .elemento:hover{
        --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
}

.elemento:hover{
    color: red;
}

.title{
    text-align: center;
    margin-top: 2rem;
    
}
.subtitle{
    display: none;
}
@media (min-width : 880px) {
    .subtitle{
        display: block;
    }
    
}
@media (min-width : 880px) {
    .title{
        display: flex;
        flex-direction: column;
       justify-content: space-between;
    }
    
}
/*BLOG */
.blog{
    margin-bottom: 2rem;
}
@media (min-width : 880px) {
    .blog{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        margin:2rem 0;
    }
    
}

.blog-escritos{
        text-align: center; 
}
.blog-escritos h2{
    font-size: 1.8rem;
    margin-bottom: 2rem;  

}
.blog-escritos p {
    margin-bottom: 4rem;
    padding: 0 .5rem;
}

@media (min-width : 880px) {
    .blog-escritos{
        padding: 0 6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }    
}
.button{
    background-color: black;
    padding: .5rem 2rem;
    border-radius: .3rem;
    border: none;
}
.button:hover{
    color: red;
    padding: .8rem 2.3rem;

}
/*BARRA*/
.barra{
    
    background-image: url("../img/barra.jpg");
    background-position: center;
    background-size: cover;
    height: 20rem;
    text-align: center;
}
.barra h3,.barra1 h3, .barra2 h3, .barra3 h3{
    padding-top: 4rem;
    color: white;
    font-size: 3rem;   
   
}
.barra h3:hover, .barra1 h3:hover, .barra2 h3:hover, .barra3 h3:hover{
    color: red;
}
.barra h4, .barra1 h4, .barra2 h4, .barra3 h4 {
    padding-top: 6rem;
    color: white;
    font-size: 1.5rem;
}
.barra-link{
    background: rgba(10, 10, 10, 0.508);
    background-position: center;
    height: 100%;
    width: 100%;    
}
/*COMENTARIOS*/
input, textarea{
    font-size: 1.4rem;
    font-weight: 700;
    color:black;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 ;
}
.box-comments{
    background: rgba(15, 15, 15, 0.952);
    padding:2rem 2rem;
    text-align: center;
}
.box-comments h3{
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}
.comments{
    color:white;
}
.cajita{
    margin-bottom: 2rem;
    margin-top: 2rem;
    align-items: center;

}

input:not([type="submit"]),textarea{
    border-radius: .5rem;
    border: none;
}
textarea{
    height: 5rem;
}
input:not([type="text"]){
    background-color: white;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: .3rem;
    padding: .3rem 4rem;
    cursor:pointer; 

}

/* footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height:100%;

}
.footer nav{
    display: none;
}
@media (min-width : 880px) {
    .footer{
        display: flex;        
        justify-content: space-between;
    }    
}
.footer h3{ 
    color: white;
    font-size: 1.8rem;
}
@media (min-width : 880px) {
    .footer h3 {
        padding: 0 2rem;
        font-size: 2rem;
        text-align: center;

    }
    
}
.footer-nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem 0; 

}


@media (min-width : 880px) {
    .footer-nav{
        margin-left: 2rem;
        padding-top: 2rem;
    }
    .footer-nav a{
        margin-right: 2rem;
        display: inline-flex;
    }
    .footer-nav a:last-of-type{
        margin-right: 0;
    }
    
}



.footer-nav a:hover{
    color: red;
}
.copyright {
    display: none;
}


@media (min-width : 880) {
    .copyright {
        display: block;
        padding-top: 2rem;
        margin-right: 2rem;
        color: #f5f5f5;
    }
    
}


/*ACERCADEMI*/
.box-acercademi{
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    text-align: center;
    margin-bottom: 2rem;
}
@media (min-width : 880px) {
    .box-acercademi{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-column-gap: 2rem;
        margin: 2rem 2rem; 
    }
    
}

.box-acercademi img{
    width: 100%;
    height: 20rem;
}
@media (min-width : 880px) {
    .box-acercademi img{
        height: 30rem;
        width: 100%;
    }
    
}
.box-acercademi p {
    padding: 0 2rem;
}
.title-future{
    text-align: center;
    font-size: 1rem;
}
@media (min-width : 880px) {
    .title-future{
        font-size: 1.3rem;
    }    
}

/*CONTACTO*/
.barra-contacto{
    background-image: url("../img/contacto.jpg");
    background-position: center;
    background-size: cover;
   
}
/*FUTURO*/
.barra1{
    
    background-image: url("../img/catamarca.jpg");
    background-position: center;
    background-size: cover;
    height: 20rem;
    text-align: center;
}
.barra2{
    
    background-image: url("../img/reciclaje.png");
    background-position: center;
    background-size: cover;
    height: 20rem;
    text-align: center;
}
.barra3{
    
    background-image: url("../img/verde.jpg");
    background-position: center;
    background-size: cover;
    height: 20rem;
    text-align: center;
    margin-bottom: 3rem;
}
.barra-link h4{
    display: none;
}
@media (min-width : 880px) {
    .barra-link h4 {
        display: block;
    }
    
}