*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

    
input:not([type="number"]){
    border-radius: 10%;
    -webkit-box-shadow: 5px 4px 2px 3px #000000; 
    box-shadow: 5px 4px 2px 3px #000000;
    font-size: 1rem;
    font-weight: 700;
}
input:hover{
    cursor: pointer;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(40, 37, 35, 1);
    width: 21rem;
    height: 35rem;
    border: rgb(250, 246, 246) solid 1px;
    border-radius: 1%;
    -webkit-box-shadow: 10px 2px 2px 4px #000000; 
    box-shadow: 10px 2px 2px 4px #000000;
    
}
@media (min-width : 768px) {
    .box{
        width: 55rem;
        height: 35rem;
        padding-top:3rem;
        position: relative;
        background-color: rgb(185, 184, 184);
        margin-top: 4rem;

    }
    .box::after{
        position: absolute;
        content: 'C a s i o';
        color: rgb(77, 75, 75);
        font-size: 2.8rem;
        font-weight: 700;
        left: 20px;
        top:1px
    }
    
}
/*PANTALLA*/
.conteiner-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(185, 184, 184);
    width: 100%;
    height: 7rem;
    margin-top: 3rem;
    position: relative;
}
@media (min-width : 768px) {
    .conteiner-screen{
        height: 12rem;
        background-color: rgba(40, 37, 35, 1);

    }
    
}
.conteiner-screen::after{
    position: absolute;
    content: 'Electronic   Calculator';
    color: #6A6666;
    font-size: .8rem;
    top:-20px;
    right: 20px;   

}
@media (min-width : 768px) {
    .conteiner-screen::after{
        color: #1b1b1b;
    }    
}
.screen{
    width: 100%;
}
.screen input{
    margin-top: 1rem;
    width: 100%;
    height: 4rem;
    background: rgb(38, 73, 49);
    font-size: 1.8rem;
    border: black 3px solid;

}
@media (min-width : 768px) {
    .screen input {
        margin-top: 2rem;
        height: 6rem;       
    }
    
}

/*Numeros y Caracteres */

.box-button-1{
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    
}
@media (min-width : 768px) {
    .box-button-1{
        display: flex;
    }
    
}
.select input{
    border-radius: 30%;
    background:#b9b7b7;
    margin-bottom: 2rem;
    padding: 0 1rem;
    margin-right: .6rem;
}
@media (min-width : 768px) {
    .select input{
        padding: 0 1.5rem;
        margin-right: 2rem;        
    }
}
.select input:last-of-type{
    margin-right: 0;
}
.direction-1{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 100% !important;
    border-bottom-left-radius: 20% !important;
}
.direction-2{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 100% !important;
    border-bottom-right-radius: 20% !important;
}
 .caract-special{
    width: 100%;
} 

.caract-special input {
    background: #1C1B1B;
    margin-right: .4rem;
    padding: 0 1rem;
    margin-bottom: .5rem;
}
@media (min-width : 768px) {
    .caract-special input{
        margin-right: 1rem;
        padding: 0 1.5rem;
        color: #f5f5f5;
    }
    
}
/* .caract-special:last-of-type{
    margin-right: 0; */

.number-box{
    display: flex;
    flex-direction:column;
    width: 90%;
    height: 12rem;
    margin-top: 2rem;
}
@media (min-width : 768px) {
    .number-box{
        flex-direction: row;
        width: 95%;

        }
    
}
.signos-special input{
    margin-top: .5rem;
    margin-bottom: .8rem;
    margin-right: .8rem;
    padding: .6rem .8rem;
}
@media (min-width : 768px) {
    .signos-special{
        width: 50%;
    }
    .signos-special input {
        padding: .9rem 1rem;

    }
    
}
.number{
    display: flex;
    flex-direction: row;    
}
@media (min-width : 768px) {
  
    
}
.number input{
    margin-left: .6rem;
    margin-top: .5rem;
    margin-bottom: .9rem;
    margin-right: .6rem;
    padding: .6rem .8rem;
}
@media (min-width : 768px) {
    .number input{
        padding: .9rem 1rem;
        margin-left: 0;
        margin-right: .5rem;
    }
    
}
.number input:last-of-type{
    margin-right: 0;
}
.numeracion{
    width: 300%;
}
@media (min-width : 768px) {
    .numeracion{
        width: 100%;
    }
    
}
.signos input{
    font-size: 1.1rem;
    font-weight: 700;
    width: 3.2rem;
    margin:.5rem 0;
    padding: .4rem .8rem;
}
.signos input:last-of-type{
    padding: 1.9rem 0;
}
@media (min-width : 768px) {
    .signos input{
        padding: .9rem 1rem;
    }
    .signos input:last-of-type{
        padding: .9rem 1rem;
    }
    
}
.digitos{
    background: #6C6C6C;
    color: #f5f5f5;
}
@media (min-width : 768px) {

}
.red{
    background: #B90B08;
    color: #f5f5f5;
}
.blue{
    background-color: #373771;
}
/*ANIMATION*/

.animacion{
    animation: alternate 1s infinite move;
}
.animacion:hover{
    animation-play-state: paused;
}
@keyframes move{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg);
    }
}   
@media (min-width : 768px) {
    @keyframes move{
        from{
            transform: translate(0,0);
        }
        to{
            transform: translate(0,150%);
        }
    }   
}
